{% extends "base.html" %}

{% block content %}

<div class="b-example-divider"></div>
<header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">

        <!-------------------------Barra busqueda------------------->
        <div class="d-flex align-items-center">
            <form class="w-100 me-3" role="search">
                <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
            </form>

        </div>
    </div>
    </div>
</header>

<div class="b-example-divider"></div>


<p>Estos son los alumnos</p>
<p>{% for a in alumnos %}</p>
<li>{{a.nombre_usuario}} {{a.apellido_usuario}}, {{a.curso_usuario}}</li>
{% endfor %}


{% endblock %}